# macOS files
.DS_Store
._*

# python-specific
__pycache__/

# intelliJ or pycharm files
.idea

# other files
*.docx
*.zip
!dist/Tower-of-Rak.zip

# directories
dungeon-generation-examples/
data/Other/
data/saves/

# aseprite files
*.ase